
{{#click-outside action=(action "hideMenu")}}
  <button class="navbar-menu-btn" onclick={{action 'showMenu'}}></button>

  <nav class="navbar-nav {{if isShowing 'showMenu'}}">
    <ul>
      {{#each urls as |u|}} 
          {{#link-to u.path}}<li onclick={{action 'hideMenu'}}>{{u.name}}</li>{{/link-to}}
      {{/each}}
    </ul>
  </nav>
{{/click-outside}}
{{!--top/bottom/l/r position of navbar must be configured to be adjustable--}}