<div class="text-book-container">
    <img class="text-book-hide-btn" src="/assets/cancel_button.png" onclick={{action "hideText"}} alt="hide textbook card button">

    <div class="text-book-info">
        {{info}}
    </div>
</div>
