<div class="text-book-container">
    <div class="text-book-hide-btn" onclick={{action "hideText"}}>x</div>
    
    <div class="text-book-info">
        I am the Text Book! Hi World! {{info}}
    </div>
</div>
