{{input value=value
        key-up=(action 'handleFilterEntry')
        class="word-filter-input"
        placeholder=placeholder
        autofocus='autofocus'}}
        
<div class="word-results-row">
    {{yield results}}
</div>