// mixins

// partials
@import 'partials/buttons';
@import 'partials/input';
@import 'partials/header';
@import 'partials/well';

// templates
@import 'nav-bar';
@import 'koyla';
@import 'latay';

body {
    width: 100%;
    position: relative;
    margin: 0;
}