.latay-flip-container {
    @include flip-container(100px);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* flip speed goes here */
.latay-flipper {
    @include flipper;
    margin: 5px;
}

/* hide back of pane during swap */
.latay-frontCard, .latay-backCard {
    @include hideBack;
}

/* front pane, placed above back */
.latay-frontCard {
    @include frontCard;
}

/* back, initially hidden pane */
.latay-backCard {
	@include backCard;
}

.latay-flip-container.latay-flip .latay-flipper {
	@include doFlip;
}

// Media (min-width: 600px) tablet-portrait
@mixin latay-tablet-portrait-up {

}
// 720 px
@mixin latay-wide-tablet-portrait-up {
    .latay-flip-container {
       width:49.666667%;
    }
}

// Media (min-width: 900px) tablet-landscape-up
@mixin latay-tablet-landscape-up {

}

// Media (min-width 1200px) desktop-up
@mixin latay-desktop-up {
}

// Media (min-width 1800px) big-desktop-up