.latay-flip-container {
	perspective: 1000px;
    position: relative;
    height: 100px;
    width: 100%;
    margin: 5px;

}

/* flip speed goes here */
.latay-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
    text-align: center;
    font-size: x-large;
    background-color: darkkhaki;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hide back of pane during swap */
.latay-frontCard, .latay-backCard {
	backface-visibility: hidden;
    position: absolute;
}

/* front pane, placed above back */
.latay-frontCard {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.latay-backCard {
	transform: rotateX(180deg);
}

.latay-flip-container.latay-flip .latay-flipper {
	transform: rotateX(180deg);
}