@mixin button($width,$height,$color) {
    background-color: $color;
    border-radius: $border-radius;
    font-size: 16px;
    height: $height;
    width: $width;
}

@mixin btn-big-grey {
    @include button(150px, 50px, #eafae6)
}