@mixin button($width,$height,$color) {
    border-radius: 10px;
    font-size: 16px;
    height: $height;
    width: $width;
    background-color: $color;
}

@mixin btn-big-grey {
    @include button(150px, 50px, #eafae6)
}