@mixin button($width,$height,$color) {
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: $color;
    border-radius: $border-radius;
    border: solid floralwhite 1px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    color:black;
    cursor: pointer;
    font-size: 16px;
    height: $height;
    &:focus {
        outline: none;
    }
}

@mixin button-big-grey {
    @include button(150px, 50px, #eafae6)
}

@mixin button-slider {
    -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
    background: $orange;
    border-radius: 50% 0 0 50%;
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
    color: $borderColor;
    font-weight: bolder;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 0px;
    transition: all .2s;
    width: 24px;
    z-index: 1;

    &::before {
        content: "||"
    }

    &:focus {
        outline: none;
    }
}
