@mixin list($color,$background) {
    ul li {
        background: initial;
        border-left: 1px solid $color;
        border-right: 1px solid $color;
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        transition: background .2s;
    }

    ul li:hover,
    ul li a:hover {
        background: $background;
    }
}

@mixin list-floralwhite {
    @include list(floralwhite, $selectOrange );

    ul li a {
        @include link-sm-floralwhite;
    }
}

@mixin list-floralwhite-noborder {
    @include list(floralwhite, $selectOrange );
    
    ul li {
        border-left: none;
        border-right: none;    
    }

    ul li a {
        @include link-sm-floralwhite;
    }
}