@mixin well {
    background-color: $wellBackground;
    border-radius: $border-radius;
    padding: 24px;
    list-style: none;   
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75); 
}