/*
 * @require:
 *      _buttons.scss,
 *      _list.scss
 */
.navbar-menu-btn {
    @include button-slider;
}
.navbar-nav {
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    background: $orange;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1;
    transform: translateX(102%);
    transition: transform .5s;

    @include list-floralwhite-noborder;

    ul {
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }

    ul li {
        margin-bottom: 10px;
        background: $wellBackground;
    }

    &.showMenu {
        transform: translateX(0%);
    }
}

// Media (min-width: 600px) tablet-portrait
@mixin navbar-tablet-portrait-up {
    .navbar-menu-btn {
        display: none;
    }

    .navbar-nav {
        height: 21px;
        left:0px;
        padding-left: 10%;
        padding-right: 10%;
        transform: translateX(0%); // makes it visible
        width: 85%;
        
        ul {
            text-align:left;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            margin-left: -40px; // adds up four 10px paddings of -li- elements
            margin-bottom: 0;
            margin-top: 0;
        }

        ul li {
            margin-bottom: auto;
            background: $wellBackground;
        }
    }
}

// Media (min-width: 900px) tablet-landscape-up
@mixin navbar-tablet-landscape-up {

    .navbar-nav {
        padding-left: calc(16.666667% + 24px);
        padding-right: 16.666667%;
        width: 66.666667%;
    }
}
// Media (min-width 1200px) desktop-up

// Media (min-width 1800px) big-desktop-up