.navbar-menu-btn {
    border: solid floralwhite 1px;
    position: fixed;
    right: 2px;
    text-align: center;
    top: 1px;
    cursor: pointer;
    z-index: 1;
    @include button(60px,30px,#eafae6);
}
.navbar-nav {
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    background: $orange;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1;
    transform: translateX(102%);
    transition: transform .5s;

    @include list-floralwhite-noborder;

    ul {
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }

    ul li {
        margin-bottom: 10px;
        background: $wellBackground;
    }

    &.showMenu {
        transform: translateX(0%);
    }
}


// Media (min-width: 600px) tablet-portrait
@mixin navbar-tablet-portrait-up {
    .navbar-menu-btn {
        display: none;
    }

    .navbar-nav {
        height: 22px;
        left:0px;
        padding-left: 30%;
        padding-right: 30%;
        transform: translateX(0%); // makes it visible
        width: 50%;
        
        ul {
            text-align:left;
            padding: 0;
            margin: 0;
            height: 20px;
            display: flex;
            justify-content: space-around;
            margin-left: -40px; // adds up four 10px paddings of -li- elements
            margin-bottom: 0;
            margin-top: 0;
        }

        ul li {
            margin-bottom: auto;
            border: auto;
            background: $wellBackground;
        }

        @include list-floralwhite;
    }
}

// Media (min-width: 900px) tablet-landscape-up

// Media (min-width 1200px) desktop-up

// Media (min-width 1800px) big-desktop-up