/*
 * @require:
 *      _buttons.scss,
 *      _list.scss
 */
.navbar-menu-btn {
    @include button-slider;
    top: 92px;
}
.navbar-nav {
    -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    background: $orange;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    z-index: 1;
    @include hide(right);
    @include list-floralwhite-noborder;

    ul {
        position: relative;
        top: 24px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul li {
        background: $wellBackground;
        margin-bottom: 30px;
		padding-bottom: 20px;
		padding-top: 20px;
    }

    &.show-menu {
        @include show(right);
    }
}

// Media (min-width: 600px) tablet-portrait
@mixin navbar-tablet-portrait-up {
    .navbar-menu-btn {
        display: none;
    }

    .navbar-nav {
        height: 30px;
        left:0px;
        padding-left: 10%;
        padding-right: 10%;
        transform: translateX(0%); // makes it visible
        width: 85%;

        ul {
            display: flex;
            justify-content: space-around;
            margin-bottom: 0;
            margin-left: -40px; // adds up four 10px paddings of -li- elements
            margin-top: 0;
            margin: 0;
            padding: 0;
            text-align:left;
            top: 0;
        }

        ul li {
            align-items: center;
            background: $wellBackground;
            display: flex;
            height: 30px;
            margin-bottom: auto;
			padding-bottom: 0;
			padding-top: 0;
        }
    }
}

// Media (min-width: 900px) tablet-landscape-up
@mixin navbar-tablet-landscape-up {

    .navbar-nav {
        padding-left: calc(16.666667% + 24px);
        padding-right: 16.666667%;
        width: 66.666667%;
    }
}
// Media (min-width 1200px) desktop-up

// Media (min-width 1800px) big-desktop-up
