/*
 * @require:
 *      _links.scss,
 *      _mobile-grid.scss
 */
.slide-down-navbar {

    background: $orange_09;
    bottom: 0;
    height: 30px;
    position: fixed;
    right: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    width: 100%;
    z-index: 1;

    @include all-center-items;

    .slide-down-btn {
        color: white;
    }

    a {
        display: none;
    }

    &.touch {
        display: block;
        height: 100%;
        padding: 0;
        text-align: center;
        width: 100%;

        a {
            @include link(18px,white);
            display: block;
            font-size: 24px;
            margin-top: 24px;
        }

        .slide-down-btn {
            display: none;
            transition: all .5s ease-in-out;
        }

    }
}

