/*
 * @require:
 *      _links.scss,
 *      _mobile-grid.scss
 */
.slide-down-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    background: $orange_09;
    height: 21px;
    width: 100%;
    transition: all .5s;
    z-index: 1;
    @include all-center-items;

    .slide-down-btn {
        color: white;
    }

    a {
        display: none;
    }

    &.touch {
        height: 100%;
        width: 100%;
        padding: 0;
        display: block;
        text-align: center;

        a {
            display: block;
            @include link(18px,white);
            margin-top: 24px;
            font-size: 24px;
        }

        .slide-down-btn {
            display: none;
        }

    }
}

