.text-book-component-container {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background:$textbookBackground;
}

.text-book-component-info {
    margin: 24px;
    line-height: 22px;
}

.text-book-component-hide-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}

.text-book-component-show {
    @include show(bottom);
}

.text-book-component-hide {
    @include hide(bottom);
}