.text-book-container {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background:$textbookBackground;
    transition: all .5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
}

.text-book-info {
    margin: 24px;
    line-height: 22px;
}

.text-book-hide-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}
