{{#each grammarCard as |card|}}
<h2>Category: {{ card.category }}</h2>
    <div class="textbook-card">
        <ul>
            <li><b>{{ card.title }}</b></li>
            <li>{{ card.body }}</li>
            <li><b>Comment: </b>{{ card.comment }}</li>
        </ul>
    </div>
{{/each}}
